<html>
    <head>
        <style>
            body {
                font-family: "Courier New", Courier, monospace;
            }
        </style>
    </head>
    <body>
        twig home

        <br/>

        {{ visualizer.getLastShotStatus|raw }}

        <br/>

        {{ visualizer.getFieldOutput|raw }}
    </body>
</html>